@model IEnumerable<EmagClone.Entities.CartProductsUsers>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">@Html.DisplayFor(modelItem => item.Product.Name)</a>
                </td>
                <td>
                    @*@if ((item.Product.Seller.UserName == Context.User.Identity.Name && User.IsInRole("Store")) || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                    }*@
                    <form method="post" asp-action="RemoveFromCart" asp-route-id="@item.Id"><a id="delete" onclick="this.parentElement.submit()">Remove from cart</a></form>
                </td>
            </tr>
        }
    </tbody>
</table>
