@model IEnumerable<EmagClone.Entities.FavoriteProductsUsers>

@{
    ViewData["Title"] = "Favorites";
}

<h1>Favorites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <form method="post" asp-action="RemoveFavorite" asp-route-id="@item.Id"><a id="delete" onclick="this.parentElement.submit()">Delete</a></form>
                </td>
            </tr>
        }
    </tbody>
</table>
