@model EmagClone.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.SellerId">
                @Html.DisplayFor(model => model.Seller.UserName)
            </a>
</dd>
    </dl>
</div>

<div>
    <a asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.Id">Add Review</a>
    <form asp-controller="Users" method="post" asp-action="AddFavorite" asp-route-id="@Model.Id"><a id="delete" onclick="this.parentElement.submit()">Add to favorites</a></form>
    <form asp-controller="Users" method="post" asp-action="AddToCart" asp-route-id="@Model.Id"><a id="delete" onclick="this.parentElement.submit()">Add to cart</a></form>

</div>
@if ((Model.Seller.UserName == Context.User.Identity.Name && User.IsInRole("Store")) || User.IsInRole("Admin"))
{
    <div>
        <a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id"><a id="delete" onclick="this.parentElement.submit()">Delete</a></form>
    </div>
}

@*<div>
        @if (Model.Reviews != null)
        {
            @foreach (var x in Model.Reviews)
            {
                <p>@x.User.UserName</p>
                <p>@x.Text</p>

                @if ((Model.Seller.UserName == Context.User.Identity.Name && User.IsInRole("Store")) || User.IsInRole("Admin"))
                {
                    <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@x.Id">Delete</a>
                }
            }
        }

    </div>*@

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Review
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Reviews != null)
        {
            @foreach (var item in Model.Reviews)
            {
                <tr>
                    <td>
                        <a asp-controller="Users" asp-action="Profile" asp-route-id="@item.UserId">@item.User.UserName</a>

</td>
                    <td>
                        @item.Text
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
